openapi: 3.0.3

info:
  title: MGF — Modular Generation Framework API
  description: |
    REST API for the MGF platform. All endpoints are prefixed with `/v1`.

    ## Authentication
    All protected routes require a Bearer token obtained from `POST /auth/login`.
    Pass it as: `Authorization: Bearer <token>`

    ## AI Generation — per-user keys
    Every user brings their own AI keys (Anthropic, OpenAI, Gemini, LM Studio,
    or a custom MiniMax-style proxy). Keys are stored encrypted in
    `user_ai_providers` and decrypted server-side per request — they are
    **never** sent to the browser.

    Generation calls reference a specific `provider_id` (the user's saved row)
    so the backend knows whose key, base URL, and default model to use.

    Pagination, error formats, and other conventions are unchanged from v1.0.3.

    ## Pagination
    List endpoints support `?page=1&per_page=20`. Response includes a `meta` pagination object.

    ## Error Format
    All errors return `{ "message": "...", "errors": { "field": ["..."] } }` (422)
    or `{ "error": "...", "code": "..." }` for typed AI errors (404 / 422 / 502).
  version: 1.0.4
  contact:
    name: MGF Team

servers:
  - url: http://mgf.vortex-tech.tech/api/v1/
    description: Production
  - url: http://localhost:8000/api/v1
    description: Local development

# ─────────────────────────────────────────────────────────────────────────────
# SECURITY
# ─────────────────────────────────────────────────────────────────────────────

security:
  - BearerAuth: []

# ─────────────────────────────────────────────────────────────────────────────
# TAGS (module grouping)
# ─────────────────────────────────────────────────────────────────────────────

tags:
  - name: Auth
    description: Registration, login, session management
  - name: Me
    description: Authenticated user — profile and AI provider config
  - name: AIChat
    description: Per-user streaming chat completions (Anthropic SSE)
  - name: Types
    description: Output type catalogue (presentation, poster, carousel…)
  - name: Templates
    description: Community templates — browse, create, fork or created from scratch
  - name: Projects
    description: User's personal projects (forks or created from scratch)
  - name: Files
    description: Modular file layers within a template or project
  - name: Generation
    description: AI generation jobs — full project or per-layer
  - name: Export
    description: Export a project to HTML / PDF / PNG / PPTX / ZIP / MD
  - name: Resources
    description: Community AI resource library (prompts, skills, agents, MCPs…)
  - name: Social
    description: Upvotes, comments, bookmarks — polymorphic across templates and resources
  - name: Admin
    description: Administration — user management and content moderation (admin only)

# ─────────────────────────────────────────────────────────────────────────────
# REUSABLE COMPONENTS
# ─────────────────────────────────────────────────────────────────────────────

components:

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  # ── Parameters ─────────────────────────────────────────────────────────────

  parameters:
    PageParam:
      name: page
      in: query
      schema: { type: integer, default: 1, minimum: 1 }
    PerPageParam:
      name: per_page
      in: query
      schema: { type: integer, default: 20, minimum: 1, maximum: 100 }
    TemplateId:
      name: template_id
      in: path
      required: true
      schema: { type: string, format: uuid }
    ProjectId:
      name: project_id
      in: path
      required: true
      schema: { type: string, format: uuid }
    FileId:
      name: file_id
      in: path
      required: true
      schema: { type: string, format: uuid }
    ResourceId:
      name: resource_id
      in: path
      required: true
      schema: { type: string, format: uuid }
    CommentId:
      name: comment_id
      in: path
      required: true
      schema: { type: string, format: uuid }
    ProviderId:
      name: provider_id
      in: path
      required: true
      schema: { type: string, format: uuid }

  # ── Schemas ─────────────────────────────────────────────────────────────────

  schemas:

    # ── Pagination ──────────────────────────────────────────────────────────

    PaginationMeta:
      type: object
      properties:
        current_page: { type: integer, example: 1 }
        per_page:     { type: integer, example: 20 }
        total:        { type: integer, example: 143 }
        last_page:    { type: integer, example: 8 }
        from:         { type: integer, nullable: true, description: "First item index (1-based)" }
        to:           { type: integer, nullable: true, description: "Last item index" }
        path:         { type: string, description: "Current request path" }
        link:         { type: array, description: "Pagination navigation links",
          items: { type: object, properties: { url: { type: string, nullable: true }, label: { type: string }, page: { type: integer, nullable: true }, active: { type: boolean } } } }

    # ── Auth ────────────────────────────────────────────────────────────────

    RegisterRequest:
      type: object
      required: [name, email, password, password_confirmation]
      properties:
        name:                  { type: string, example: "Alex Johnson" }
        email:                 { type: string, format: email }
        password:              { type: string, minLength: 8 }
        password_confirmation: { type: string }

    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email:    { type: string, format: email }
        password: { type: string }

    AuthResponse:
      type: object
      properties:
        token: { type: string, example: "1|abc123..." }
        user:  { $ref: '#/components/schemas/User' }

    # ── User ────────────────────────────────────────────────────────────────

    User:
      type: object
      properties:
        id:         { type: string, format: uuid }
        name:       { type: string }
        email:      { type: string, format: email }
        role:       { type: string, enum: [user, admin] }
        profile:    { $ref: '#/components/schemas/UserProfile' }
        created_at: { type: string, format: date-time }

    UserProfile:
      type: object
      properties:
        bio:        { type: string, nullable: true }
        avatar_url: { type: string, nullable: true }
        website:    { type: string, nullable: true }
        location:   { type: string, nullable: true }

    UpdateProfileRequest:
      type: object
      properties:
        name:       { type: string }
        bio:        { type: string, nullable: true }
        avatar_url: { type: string, nullable: true }
        website:    { type: string, nullable: true }
        location:   { type: string, nullable: true }

    UpdateUserRoleRequest:
      type: object
      required: [role]
      properties:
        role: { type: string, enum: [user, admin] }

    # ── AI Provider ─────────────────────────────────────────────────────────

    AiProvider:
      type: object
      properties:
        id:            { type: string, format: uuid }
        provider:      { type: string, enum: [openai, anthropic, gemini, local, custom] }
        display_name:  { type: string, example: "My LM Studio" }
        base_url:      { type: string, example: "http://localhost:1234/v1" }
        default_model: { type: string, example: "gpt-4o" }
        has_key:       { type: boolean, description: "True if an API key is stored — key itself is never returned" }
        is_active:     { type: boolean }
        created_at:    { type: string, format: date-time }

    CreateAiProviderRequest:
      type: object
      required: [provider, base_url]
      properties:
        provider:      { type: string, enum: [openai, anthropic, gemini, local, custom] }
        display_name:  { type: string }
        api_key:       { type: string, description: "Encrypted server-side. Never returned in responses.", nullable: true }
        base_url:      { type: string, example: "https://api.openai.com/v1" }
        default_model: { type: string }

    UpdateAiProviderRequest:
      type: object
      properties:
        display_name:  { type: string }
        api_key:       { type: string, nullable: true, description: "Send to rotate the key" }
        base_url:      { type: string }
        default_model: { type: string }
        is_active:     { type: boolean }

    AiProviderTestResponse:
      type: object
      description: "Diagnostic body for `POST /me/ai-providers/{id}/test`. Always returned as 200 so the UI can show `ok`/`code` directly."
      properties:
        ok:         { type: boolean, description: "True if the upstream returned a 2xx status" }
        reachable:  { type: boolean, description: "True if any HTTP response was received (any status < 500, including 401/404)" }
        status:     { type: integer, nullable: true, description: "Upstream HTTP status, or 0 if no response" }
        code:       { type: string, enum: [ok, upstream_error, unreachable, connection_failed, provider_not_found] }
        message:    { type: string }
        latency_ms: { type: integer }
        class:      { type: string, nullable: true, description: "Exception class name when `code=connection_failed`" }

    # ── AI Chat (per-user, streaming) ──────────────────────────────────────

    AiChatMessage:
      type: object
      required: [role, content]
      properties:
        role:    { type: string, enum: [user, assistant] }
        content: { type: string, minLength: 1 }

    AiChatRequest:
      type: object
      description: |
        Per-user streaming chat. The `provider_id` MUST belong to the
        authenticated user — foreign IDs return 404 with the same shape
        as missing rows, so IDs cannot be enumerated.

        The upstream API key is read from `user_ai_providers.api_key_encrypted`
        and decrypted with Laravel's APP_KEY; the browser never sees it.
      required: [provider_id, messages]
      properties:
        provider_id:
          type: string
          format: uuid
          description: "UUID of the user's `user_ai_providers` row that carries this request's API key + base URL"
        model:
          type: string
          nullable: true
          description: |
            Model ID (e.g. `MiniMax-M3`, `claude-3-5-sonnet-latest`). Optional —
            falls back to `provider.default_model` if omitted or empty.
        system:
          type: string
          nullable: true
          maxLength: 100000
          description: "Optional system prompt prepended to the conversation"
        messages:
          type: array
          minItems: 1
          items: { $ref: '#/components/schemas/AiChatMessage' }
        max_tokens:
          type: integer
          nullable: true
          minimum: 1
          maximum: 8192
          default: 4096

    AiChatErrorResponse:
      type: object
      description: "JSON error body returned for non-2xx before the SSE stream starts (or as a final SSE event when the stream breaks)."
      properties:
        error: { type: string }
        code:
          type: string
          enum:
            - anthropic_key_missing
            - upstream_unreachable
            - upstream_error
            - provider_not_found
            - model_required
            - stream_error

    AiChatStreamEvent:
      type: object
      description: |
        A single Anthropic SSE event. The endpoint streams these verbatim
        in `text/event-stream` format with `event:` and `data:` lines
        separated by `\n\n`. Frontend clients SHOULD reuse a parser that
        handles `content_block_delta.delta.text`, `message_stop`, and the
        optional final `event: error` event for stream interruptions.
      properties:
        type:
          type: string
          enum:
            - message_start
            - content_block_start
            - content_block_delta
            - content_block_stop
            - message_delta
            - message_stop
            - ping
            - error
        index: { type: integer, nullable: true }
        message:
          type: object
          nullable: true
          description: "Present on `message_start`. Carries the assistant message id, role, and usage."
        content_block:
          type: object
          nullable: true
          description: "Present on `content_block_start`."
        delta:
          type: object
          nullable: true
          description: "Present on `content_block_delta` (carries `delta.text`) and `message_delta` (carries stop_reason + usage)."
        usage:
          type: object
          nullable: true
          properties:
            input_tokens:               { type: integer }
            output_tokens:              { type: integer }
            cache_read_input_tokens:    { type: integer, nullable: true }
            service_tier:               { type: string, nullable: true }
        error:
          type: object
          nullable: true
          description: "Present on the final `event: error` SSE event when the stream breaks after headers were sent."

    # ── Type ────────────────────────────────────────────────────────────────

    Type:
      type: object
      properties:
        id:          { type: string, format: uuid }
        name:        { type: string, example: "presentation" }
        description: { type: string }
        icon:        { type: string, example: "slides" }

    # ── Template ────────────────────────────────────────────────────────────

    Template:
      type: object
      properties:
        id:            { type: string, format: uuid }
        user_id:       { type: string, format: uuid }
        author:        { $ref: '#/components/schemas/UserSummary' }
        type:          { $ref: '#/components/schemas/Type' }
        name:          { type: string }
        description:   { type: string, nullable: true }
        thumbnail_url: { type: string, nullable: true }
        visibility:    { type: string, enum: [public, private, unlisted] }
        tags:          { type: array, items: { type: string } }
        locale:        { type: string, example: "en" }
        direction:     { type: string, enum: [ltr, rtl] }
        fork_count:    { type: integer, description: "Derived — count of projects forked from this template" }
        upvote_count:  { type: integer }
        is_upvoted:    { type: boolean, description: "Authenticated user's upvote status" }
        is_bookmarked: { type: boolean }
        created_at:    { type: string, format: date-time }
        updated_at:    { type: string, format: date-time }

    CreateTemplateRequest:
      type: object
      required: [type_id, name]
      properties:
        type_id:     { type: string, format: uuid }
        name:        { type: string, minLength: 1 }
        description: { type: string, nullable: true }
        visibility:  { type: string, enum: [public, private, unlisted], default: private }
        tags:        { type: array, items: { type: string } }
        locale:      { type: string, default: "en" }
        direction:   { type: string, enum: [ltr, rtl], default: ltr }

    UpdateTemplateRequest:
      type: object
      properties:
        name:          { type: string }
        description:   { type: string, nullable: true }
        thumbnail_url: { type: string, nullable: true }
        visibility:    { type: string, enum: [public, private, unlisted] }
        tags:          { type: array, items: { type: string } }

    # ── Project ─────────────────────────────────────────────────────────────

    Project:
      type: object
      properties:
        id:                   { type: string, format: uuid }
        user_id:              { type: string, format: uuid }
        template_id:          { type: string, format: uuid, nullable: true }
        type:                 { $ref: '#/components/schemas/Type' }
        origin_template_name: { type: string, nullable: true }
        name:                 { type: string }
        description:          { type: string, nullable: true }
        status:               { type: string, enum: [draft, published, archived] }
        visibility:           { type: string, enum: [public, private, unlisted] }
        tags:                 { type: array, items: { type: string } }
        locale:               { type: string }
        direction:            { type: string, enum: [ltr, rtl] }
        cloned_at:            { type: string, format: date-time, nullable: true }
        created_at:           { type: string, format: date-time }
        updated_at:           { type: string, format: date-time }

    CreateProjectRequest:
      type: object
      required: [type_id, name]
      properties:
        type_id:     { type: string, format: uuid }
        name:        { type: string }
        description: { type: string, nullable: true }
        visibility:  { type: string, enum: [public, private, unlisted], default: private }
        tags:        { type: array, items: { type: string } }
        locale:      { type: string, default: "en" }
        direction:   { type: string, enum: [ltr, rtl], default: ltr }

    UpdateProjectRequest:
      type: object
      properties:
        name:        { type: string }
        description: { type: string, nullable: true }
        status:      { type: string, enum: [draft, published, archived] }
        visibility:  { type: string, enum: [public, private, unlisted] }
        tags:        { type: array, items: { type: string } }

    ForkTemplateRequest:
      type: object
      required: [name]
      properties:
        name: { type: string, description: "Name for the newly created project" }

    # ── File ────────────────────────────────────────────────────────────────

    File:
      type: object
      properties:
        id:           { type: string, format: uuid }
        template_id:  { type: string, format: uuid, nullable: true }
        project_id:   { type: string, format: uuid, nullable: true }
        layer:        { type: string, enum: [slide, style, layout, content, context, rules, meta, asset] }
        name:         { type: string, example: "slide-01.html" }
        extension:    { type: string, example: "html" }
        sort_order:   { type: integer }
        content:      { type: string, nullable: true, description: "File body (DB-stored, <~100KB)" }
        storage_url:  { type: string, nullable: true, description: "Signed URL for S3-stored files" }
        size_bytes:   { type: integer, nullable: true }
        created_at:   { type: string, format: date-time }
        updated_at:   { type: string, format: date-time }

    CreateFileRequest:
      type: object
      required: [layer, name, extension]
      properties:
        layer:      { type: string, enum: [slide, style, layout, content, context, rules, meta, asset] }
        name:       { type: string, example: "slide-02.html" }
        extension:  { type: string, example: "html" }
        sort_order: { type: integer, default: 0 }
        content:    { type: string, nullable: true }

    UpdateFileRequest:
      type: object
      properties:
        name:       { type: string }
        content:    { type: string }
        sort_order: { type: integer }

    ReorderFilesRequest:
      type: object
      required: [order]
      properties:
        order:
          type: array
          description: "Array of file IDs in desired order"
          items: { type: string, format: uuid }

    # ── AI Generation (job-based, async) ────────────────────────────────────

    GenerateFullRequest:
      type: object
      required: [provider_id]
      properties:
        provider_id: { type: string, format: uuid, description: "Which user_ai_provider to use" }
        model:       { type: string, description: "Overrides provider default_model if set" }
        prompt:      { type: string, description: "Top-level generation prompt. Falls back to context.md if omitted." }

    GenerateLayerRequest:
      type: object
      required: [provider_id]
      properties:
        provider_id: { type: string, format: uuid }
        model:       { type: string }
        prompt:      { type: string, nullable: true, description: "Optional override — uses context.md + rules.md otherwise" }

    AiJob:
      type: object
      properties:
        id:           { type: string, format: uuid }
        project_id:   { type: string, format: uuid, nullable: true }
        template_id:  { type: string, format: uuid, nullable: true }
        file_id:      { type: string, format: uuid, nullable: true }
        provider_id:  { type: string, format: uuid, nullable: true }
        provider:     { type: string }
        model:        { type: string }
        layer:        { type: string, nullable: true }
        status:       { type: string, enum: [pending, running, success, failed] }
        error_message: { type: string, nullable: true }
        tokens_used:  { type: integer, nullable: true }
        duration_ms:  { type: integer, nullable: true }
        created_at:   { type: string, format: date-time }
        completed_at: { type: string, format: date-time, nullable: true }

    # ── Export ──────────────────────────────────────────────────────────────

    ExportRequest:
      type: object
      required: [format]
      properties:
        format:
          type: string
          enum: [html, pdf, png, jpg, pptx, zip, md]
        options:
          type: object
          properties:
            page_size:  { type: string, enum: [A4, letter, custom], default: A4 }
            width_px:   { type: integer, description: "For custom page_size or PNG/JPG" }
            height_px:  { type: integer }
            quality:    { type: integer, minimum: 1, maximum: 100, default: 90, description: "For JPG" }
            slides:
              type: array
              description: "Export specific slide IDs only. Omit to export all."
              items: { type: string, format: uuid }

    ExportJob:
      type: object
      properties:
        id:           { type: string, format: uuid }
        project_id:   { type: string, format: uuid }
        format:       { type: string }
        status:       { type: string, enum: [pending, processing, ready, failed] }
        download_url: { type: string, nullable: true, description: "Signed URL — available when status=ready" }
        expires_at:   { type: string, format: date-time, nullable: true }
        error_message: { type: string, nullable: true, description: "Available when status=failed" }
        created_at:   { type: string, format: date-time }

    # ── Resource ────────────────────────────────────────────────────────────

    Resource:
      type: object
      properties:
        id:              { type: string, format: uuid }
        user_id:         { type: string, format: uuid }
        author:          { $ref: '#/components/schemas/UserSummary' }
        forked_from_id:  { type: string, format: uuid, nullable: true }
        kind:            { type: string, enum: [prompt, skill, agent, rule, mcp, design_doc, hook] }
        name:            { type: string }
        description:     { type: string, nullable: true }
        content:         { type: string }
        placeholders:
          type: array
          nullable: true
          items:
            type: object
            properties:
              key:     { type: string }
              label:   { type: string }
              default: { type: string }
              type:    { type: string, enum: [text, textarea, select] }
        visibility:    { type: string, enum: [public, private, unlisted] }
        tags:          { type: array, items: { type: string } }
        upvote_count:  { type: integer }
        fork_count:    { type: integer }
        is_upvoted:    { type: boolean }
        is_bookmarked: { type: boolean }
        created_at:    { type: string, format: date-time }
        updated_at:    { type: string, format: date-time }

    CreateResourceRequest:
      type: object
      required: [kind, name, content]
      properties:
        kind:         { type: string, enum: [prompt, skill, agent, rule, mcp, design_doc, hook] }
        name:         { type: string }
        description:  { type: string, nullable: true }
        content:      { type: string }
        placeholders: { type: array, items: { type: object } }
        visibility:   { type: string, enum: [public, private, unlisted], default: private }
        tags:         { type: array, items: { type: string } }

    UpdateResourceRequest:
      type: object
      properties:
        name:         { type: string }
        description:  { type: string, nullable: true }
        content:      { type: string }
        placeholders: { type: array, items: { type: object } }
        visibility:   { type: string, enum: [public, private, unlisted] }
        tags:         { type: array, items: { type: string } }

    ForkResourceRequest:
      type: object
      properties:
        name: { type: string, description: "Optional custom name for the fork. Defaults to 'Fork of <original name>'" }

    # ── Social ──────────────────────────────────────────────────────────────

    Comment:
      type: object
      properties:
        id:          { type: string, format: uuid }
        user_id:     { type: string, format: uuid }
        author:      { $ref: '#/components/schemas/UserSummary' }
        target_id:   { type: string, format: uuid }
        target_type: { type: string, enum: [template, resource] }
        parent_id:   { type: string, format: uuid, nullable: true }
        body:        { type: string }
        replies:
          type: array
          items: { $ref: '#/components/schemas/Comment' }
        created_at:  { type: string, format: date-time }
        updated_at:  { type: string, format: date-time }

    CreateCommentRequest:
      type: object
      required: [body]
      properties:
        body:      { type: string, minLength: 1 }
        parent_id: { type: string, format: uuid, nullable: true, description: "Set to reply to an existing comment" }

    UpvoteResponse:
      type: object
      properties:
        upvoted:      { type: boolean }
        upvote_count: { type: integer }

    BookmarkResponse:
      type: object
      properties:
        bookmarked: { type: boolean }

    # ── Shared ──────────────────────────────────────────────────────────────

    UserSummary:
      type: object
      description: "Lightweight user object embedded in other resources"
      properties:
        id:         { type: string, format: uuid }
        name:       { type: string }
        avatar_url: { type: string, nullable: true }

    ErrorResponse:
      type: object
      properties:
        message: { type: string }
        errors:
          type: object
          additionalProperties:
            type: array
            items: { type: string }

  # ── Responses ───────────────────────────────────────────────────────────────

  responses:
    Unauthorized:
      description: Unauthenticated
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
    Forbidden:
      description: Insufficient permissions
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
    UnprocessableEntity:
      description: Validation error
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
    AiChatProviderNotFound:
      description: |
        `provider_id` is not a row belonging to the authenticated user. Same
        body shape for foreign and missing IDs — IDs cannot be enumerated.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/AiChatErrorResponse' }
    AiChatModelRequired:
      description: |
        Neither the request `model` nor the provider row's `default_model`
        is set. Client should pick a model or update the provider.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/AiChatErrorResponse' }
    AiChatUpstream:
      description: |
        The user's API key is missing/unreadable, the upstream is unreachable,
        or the upstream returned a non-2xx status. Body always carries `code`
        so the client can pick a recovery path (re-prompt for the key, retry,
        surface the upstream error, …).
      content:
        application/json:
          schema: { $ref: '#/components/schemas/AiChatErrorResponse' }

# ─────────────────────────────────────────────────────────────────────────────
# PATHS
# ─────────────────────────────────────────────────────────────────────────────

paths:

  # ════════════════════════════════════════════════════════════════════════════
  # AUTH
  # ════════════════════════════════════════════════════════════════════════════

  /auth/register:
    post:
      tags: [Auth]
      summary: Register a new user
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RegisterRequest' }
      responses:
        '201':
          description: User registered
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuthResponse' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }

  /auth/login:
    post:
      tags: [Auth]
      summary: Login and get access token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/LoginRequest' }
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuthResponse' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }

  /auth/logout:
    post:
      tags: [Auth]
      summary: Revoke current token
      responses:
        '204': { description: Logged out }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /auth/me:
    get:
      tags: [Auth]
      summary: Get authenticated user
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  # ════════════════════════════════════════════════════════════════════════════
  # ME — Profile & AI Providers
  # ════════════════════════════════════════════════════════════════════════════

  /me/profile:
    put:
      tags: [Me]
      summary: Update own profile
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateProfileRequest' }
      responses:
        '200':
          description: Profile updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }

  /me/ai-providers:
    get:
      tags: [Me]
      summary: List own AI provider connections
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/AiProvider' } }
        '401': { $ref: '#/components/responses/Unauthorized' }

    post:
      tags: [Me]
      summary: Add an AI provider connection
      description: |
        Encrypts `api_key` with Laravel's APP_KEY before storing. The key is
        **never** returned in any response — only the `has_key` boolean.
        A user can have at most one row per `provider` value.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateAiProviderRequest' }
      responses:
        '201':
          description: Provider added
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AiProvider' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }

  /me/ai-providers/{provider_id}:
    parameters:
      - $ref: '#/components/parameters/ProviderId'

    put:
      tags: [Me]
      summary: Update an AI provider connection
      description: |
        Send `api_key` to rotate the encrypted key. Omit it to keep the
        existing one. Foreign IDs return 404 (not 403) to avoid leaking
        which rows exist.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateAiProviderRequest' }
      responses:
        '200':
          description: Provider updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AiProvider' }
        '404': { $ref: '#/components/responses/NotFound' }

    delete:
      tags: [Me]
      summary: Remove an AI provider connection
      responses:
        '204': { description: Deleted }
        '404': { $ref: '#/components/responses/NotFound' }

  /me/ai-providers/{provider_id}/test:
    parameters:
      - $ref: '#/components/parameters/ProviderId'
    post:
      tags: [Me]
      summary: Test connectivity of an AI provider
      description: |
        Decrypts the user's key and probes the upstream with a minimal HTTP
        GET. Returns 200 with `{ok, reachable, status, code, message,
        latency_ms}` regardless of outcome — the `code` field lets the UI
        pick the right user-facing message.
      responses:
        '200':
          description: Test result
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AiProviderTestResponse' }
        '404': { $ref: '#/components/responses/NotFound' }

  # ════════════════════════════════════════════════════════════════════════════
  # AI CHAT — per-user streaming
  # ════════════════════════════════════════════════════════════════════════════

  /ai/chat:
    post:
      tags: [AIChat]
      summary: Stream an AI chat completion (per-user key)
      description: |
        Streams an Anthropic-SSE completion back to the client.

        The browser sends the user's chosen `provider_id`; the backend
        decrypts that row's `api_key_encrypted` and uses its `base_url`.
        One user can carry multiple providers (MiniMax, Anthropic, LM Studio,
        …) — `provider_id` selects which one carries this request.

        The browser never sees the API key. The shared `ANTHROPIC_AUTH_TOKEN`
        env var that this endpoint used to read was removed in v1.0.4.

        ## Stream framing
        Returns `text/event-stream`. Each frame is a single Anthropic SSE
        event of the form:

            event: <type>
            data: <json>
            <blank line>

        The client should consume `event: content_block_delta` /
        `data: <json>` frames and read `delta.text` to render tokens as they
        arrive. `event: message_stop` ends the stream. If the stream breaks
        after headers were sent, a final `event: error` / `data: <json>`
        frame is appended.

        ## Error cases
        Non-2xx responses are JSON (see `AiChatErrorResponse`). The most
        common codes:
          - `provider_not_found` (404) — `provider_id` is not in the user's set
          - `model_required`     (422) — neither request `model` nor `provider.default_model` is set
          - `anthropic_key_missing` (502) — provider row has no key, or the encrypted blob is unreadable
          - `upstream_unreachable`  (502) — network error reaching the upstream
          - `upstream_error`        (502) — upstream returned a non-2xx status
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AiChatRequest' }
      responses:
        '200':
          description: SSE stream of Anthropic events (one per frame)
          headers:
            Content-Type:
              schema: { type: string, example: "text/event-stream" }
            Cache-Control:
              schema: { type: string, example: "no-cache" }
          content:
            text/event-stream:
              schema:
                type: string
                description: |
                  Anthropic SSE stream — see `AiChatStreamEvent` for the
                  event shapes. Clients typically use a streaming JSON
                  parser that splits on `\n\n` and reads each frame's
                  `event:` + `data:` lines.
              examples:
                contentBlockDelta:
                  summary: A typical content_block_delta frame
                  value: |
                    event: content_block_delta
                    data: {"type":"content_block_delta","index":0,"delta":{"type":"text_delta","text":"Hello"}}
                messageStop:
                  summary: Stream end
                  value: |
                    event: message_stop
                    data: {"type":"message_stop"}
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/AiChatProviderNotFound' }
        '422':
          description: |
            Validation error (missing `provider_id`, invalid UUID, missing
            `messages`, invalid `role`, …) OR `model_required`.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                  - $ref: '#/components/schemas/AiChatErrorResponse'
        '502': { $ref: '#/components/responses/AiChatUpstream' }

  # ════════════════════════════════════════════════════════════════════════════
  # TYPES
  # ════════════════════════════════════════════════════════════════════════════

  /types:
    get:
      tags: [Types]
      summary: List all output types
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/Type' } }

  # ════════════════════════════════════════════════════════════════════════════
  # TEMPLATES
  # ════════════════════════════════════════════════════════════════════════════

  /templates:
    get:
      tags: [Templates]
      summary: Browse public template gallery
      security: []
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
        - name: type_id
          in: query
          schema: { type: string, format: uuid }
        - name: tags
          in: query
          description: "Comma-separated tag list"
          schema: { type: string, example: "business,pitch" }
        - name: q
          in: query
          description: "Keyword search on name and description"
          schema: { type: string }
        - name: sort
          in: query
          schema: { type: string, enum: [popular, newest, most_forked], default: popular }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/Template' } }
                  meta: { $ref: '#/components/schemas/PaginationMeta' }

    post:
      tags: [Templates]
      summary: Create a new template
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateTemplateRequest' }
      responses:
        '201':
          description: Template created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Template' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }

  /templates/{template_id}:
    parameters:
      - $ref: '#/components/parameters/TemplateId'

    get:
      tags: [Templates]
      summary: Get template by ID
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Template' }
        '404': { $ref: '#/components/responses/NotFound' }

    put:
      tags: [Templates]
      summary: Update template (owner only)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateTemplateRequest' }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Template' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

    delete:
      tags: [Templates]
      summary: Soft-delete template (owner only)
      responses:
        '204': { description: Deleted }
        '403': { $ref: '#/components/responses/Forbidden' }

  /templates/{template_id}/fork:
    parameters:
      - $ref: '#/components/parameters/TemplateId'
    post:
      tags: [Templates]
      summary: Fork a public template into a new project
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ForkTemplateRequest' }
      responses:
        '201':
          description: Project created from fork
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Project' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /templates/{template_id}/files:
    parameters:
      - $ref: '#/components/parameters/TemplateId'

    get:
      tags: [Templates]
      summary: List all files in a template
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/File' } }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

    post:
      tags: [Templates]
      summary: Add a file to a template (owner only)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateFileRequest' }
      responses:
        '201':
          description: File created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/File' }

  /templates/{template_id}/files/{file_id}:
    parameters:
      - $ref: '#/components/parameters/TemplateId'
      - $ref: '#/components/parameters/FileId'

    get:
      tags: [Templates]
      summary: Get a single template file
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/File' }

    put:
      tags: [Templates]
      summary: Update file content or metadata (owner only)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateFileRequest' }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/File' }

    delete:
      tags: [Templates]
      summary: Delete a template file
      responses:
        '204': { description: Deleted }

  # ════════════════════════════════════════════════════════════════════════════
  # PROJECTS
  # ════════════════════════════════════════════════════════════════════════════

  /projects:
    get:
      tags: [Projects]
      summary: List authenticated user's projects
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
        - name: status
          in: query
          schema: { type: string, enum: [draft, published, archived] }
        - name: type_id
          in: query
          schema: { type: string, format: uuid }
        - name: q
          in: query
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/Project' } }
                  meta: { $ref: '#/components/schemas/PaginationMeta' }

    post:
      tags: [Projects]
      summary: Create a new blank project
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateProjectRequest' }
      responses:
        '201':
          description: Project created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Project' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }

  /projects/{project_id}:
    parameters:
      - $ref: '#/components/parameters/ProjectId'

    get:
      tags: [Projects]
      summary: Get project by ID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Project' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

    put:
      tags: [Projects]
      summary: Update project metadata (owner only)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateProjectRequest' }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Project' }
        '403': { $ref: '#/components/responses/Forbidden' }

    delete:
      tags: [Projects]
      summary: Soft-delete project (owner only)
      responses:
        '204': { description: Deleted }
        '403': { $ref: '#/components/responses/Forbidden' }

  /projects/{project_id}/files:
    parameters:
      - $ref: '#/components/parameters/ProjectId'

    get:
      tags: [Projects]
      summary: List all files in a project
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/File' } }
        '403': { $ref: '#/components/responses/Forbidden' }

    post:
      tags: [Projects]
      summary: Add a file to a project
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateFileRequest' }
      responses:
        '201':
          description: File created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/File' }

  /projects/{project_id}/files/reorder:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    patch:
      tags: [Projects]
      summary: Reorder slides/pages within a project
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ReorderFilesRequest' }
      responses:
        '200':
          description: Files reordered
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/File' } }

  /projects/{project_id}/files/{file_id}:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/FileId'

    get:
      tags: [Projects]
      summary: Get a single project file
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/File' }

    put:
      tags: [Projects]
      summary: Update file content (autosave)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateFileRequest' }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/File' }

    delete:
      tags: [Projects]
      summary: Delete a project file
      responses:
        '204': { description: Deleted }

  # ════════════════════════════════════════════════════════════════════════════
  # AI GENERATION
  # ════════════════════════════════════════════════════════════════════════════

  /projects/{project_id}/generate:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    post:
      tags: [Generation]
      summary: Generate all layers of a project with AI
      description: |
        Reads `context.md` and `rules.md` from the project files, calls the AI provider,
        and regenerates all layers (content, slides, style). Creates an `ai_job` record.
        Generation runs asynchronously — poll `/projects/{id}/jobs` or wait for the returned job status.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/GenerateFullRequest' }
      responses:
        '202':
          description: Generation job accepted
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AiJob' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }

  /projects/{project_id}/files/{file_id}/generate:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/FileId'
    post:
      tags: [Generation]
      summary: Regenerate a single file/layer with AI
      description: |
        Targets only the specified file. Uses the project's `context.md` and `rules.md`
        as context unless `prompt` is explicitly provided in the request body.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/GenerateLayerRequest' }
      responses:
        '202':
          description: Generation job accepted
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AiJob' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /projects/{project_id}/jobs:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    get:
      tags: [Generation]
      summary: List AI generation job history for a project
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/AiJob' } }
                  meta: { $ref: '#/components/schemas/PaginationMeta' }

  /jobs/{job_id}:
    parameters:
      - name: job_id
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [Generation]
      summary: Poll a specific AI job by ID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AiJob' }
        '404': { $ref: '#/components/responses/NotFound' }

  # ════════════════════════════════════════════════════════════════════════════
  # EXPORT
  # ════════════════════════════════════════════════════════════════════════════

  /projects/{project_id}/export:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    post:
      tags: [Export]
      summary: Request an export of a project
      description: |
        Queues an export job. Poll the returned `ExportJob` until `status=ready`,
        then download via `download_url` (signed URL, expires in 1 hour).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ExportRequest' }
      responses:
        '202':
          description: Export job queued
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ExportJob' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }

  /export-jobs/{job_id}:
    parameters:
      - name: job_id
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [Export]
      summary: Poll export job status
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ExportJob' }
        '404': { $ref: '#/components/responses/NotFound' }

  # ════════════════════════════════════════════════════════════════════════════
  # RESOURCES (Community Library)
  # ════════════════════════════════════════════════════════════════════════════

  /resources:
    get:
      tags: [Resources]
      summary: Browse public community resources
      security: []
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
        - name: kind
          in: query
          schema: { type: string, enum: [prompt, skill, agent, rule, mcp, design_doc, hook] }
        - name: q
          in: query
          schema: { type: string }
        - name: tags
          in: query
          schema: { type: string }
        - name: sort
          in: query
          schema: { type: string, enum: [popular, newest, most_forked], default: popular }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/Resource' } }
                  meta: { $ref: '#/components/schemas/PaginationMeta' }

    post:
      tags: [Resources]
      summary: Create a new resource
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateResourceRequest' }
      responses:
        '201':
          description: Resource created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Resource' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }

  /resources/{resource_id}:
    parameters:
      - $ref: '#/components/parameters/ResourceId'

    get:
      tags: [Resources]
      summary: Get a resource by ID
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Resource' }
        '404': { $ref: '#/components/responses/NotFound' }

    put:
      tags: [Resources]
      summary: Update a resource (owner only)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateResourceRequest' }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Resource' }
        '403': { $ref: '#/components/responses/Forbidden' }

    delete:
      tags: [Resources]
      summary: Soft-delete a resource (owner only)
      responses:
        '204': { description: Deleted }
        '403': { $ref: '#/components/responses/Forbidden' }

  /resources/{resource_id}/fork:
    parameters:
      - $ref: '#/components/parameters/ResourceId'
    post:
      tags: [Resources]
      summary: Fork a public resource into own library
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ForkResourceRequest' }
      responses:
        '201':
          description: Forked resource created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Resource' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /resources/{resource_id}/forks:
    parameters:
      - $ref: '#/components/parameters/ResourceId'
    get:
      tags: [Resources]
      summary: List public forks of a resource
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/Resource' } }
                  meta: { $ref: '#/components/schemas/PaginationMeta' }

  # ════════════════════════════════════════════════════════════════════════════
  # SOCIAL — Upvotes, Comments, Bookmarks
  # ════════════════════════════════════════════════════════════════════════════

  /templates/{template_id}/upvote:
    parameters:
      - $ref: '#/components/parameters/TemplateId'
    post:
      tags: [Social]
      summary: Toggle upvote on a template
      responses:
        '200':
          description: Upvote toggled
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UpvoteResponse' }

  /resources/{resource_id}/upvote:
    parameters:
      - $ref: '#/components/parameters/ResourceId'
    post:
      tags: [Social]
      summary: Toggle upvote on a resource
      responses:
        '200':
          description: Upvote toggled
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UpvoteResponse' }

  /templates/{template_id}/bookmark:
    parameters:
      - $ref: '#/components/parameters/TemplateId'
    post:
      tags: [Social]
      summary: Toggle bookmark on a template
      responses:
        '200':
          description: Bookmark toggled
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BookmarkResponse' }

  /resources/{resource_id}/bookmark:
    parameters:
      - $ref: '#/components/parameters/ResourceId'
    post:
      tags: [Social]
      summary: Toggle bookmark on a resource
      responses:
        '200':
          description: Bookmark toggled
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BookmarkResponse' }

  /templates/{template_id}/comments:
    parameters:
      - $ref: '#/components/parameters/TemplateId'
    get:
      tags: [Social]
      summary: List comments on a template
      security: []
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/Comment' } }
                  meta: { $ref: '#/components/schemas/PaginationMeta' }

    post:
      tags: [Social]
      summary: Post a comment on a template
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateCommentRequest' }
      responses:
        '201':
          description: Comment created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Comment' }

  /resources/{resource_id}/comments:
    parameters:
      - $ref: '#/components/parameters/ResourceId'
    get:
      tags: [Social]
      summary: List comments on a resource
      security: []
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/Comment' } }
                  meta: { $ref: '#/components/schemas/PaginationMeta' }

    post:
      tags: [Social]
      summary: Post a comment on a resource
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateCommentRequest' }
      responses:
        '201':
          description: Comment created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Comment' }

  /comments/{comment_id}:
    parameters:
      - $ref: '#/components/parameters/CommentId'

    put:
      tags: [Social]
      summary: Edit own comment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [body]
              properties:
                body: { type: string }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Comment' }
        '403': { $ref: '#/components/responses/Forbidden' }

    delete:
      tags: [Social]
      summary: Delete own comment (soft delete)
      responses:
        '204': { description: Deleted }
        '403': { $ref: '#/components/responses/Forbidden' }

  # ════════════════════════════════════════════════════════════════════════════
  # PUBLIC USER PROFILES
  # ════════════════════════════════════════════════════════════════════════════

  /users/{user_id}:
    parameters:
      - name: user_id
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [Me]
      summary: Get public profile of any user
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }
        '404': { $ref: '#/components/responses/NotFound' }

  /users/{user_id}/templates:
    parameters:
      - name: user_id
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [Me]
      summary: Get public templates by a user
      security: []
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/Template' } }
                  meta: { $ref: '#/components/schemas/PaginationMeta' }

  /users/{user_id}/resources:
    parameters:
      - name: user_id
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [Me]
      summary: Get public resources by a user
      security: []
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/Resource' } }
                  meta: { $ref: '#/components/schemas/PaginationMeta' }

  # ════════════════════════════════════════════════════════════════════════════
  # ADMIN (requires `role: admin`)
  # ════════════════════════════════════════════════════════════════════════════

  /admin/users:
    get:
      tags: [Admin]
      summary: List all users (admin only)
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
        - name: q
          in: query
          description: 'Keyword search on name and email'
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/User' } }
                  meta: { $ref: '#/components/schemas/PaginationMeta' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /admin/users/{user_id}:
    parameters:
      - name: user_id
        in: path
        required: true
        schema: { type: string, format: uuid }
    put:
      tags: [Admin]
      summary: Update a user's role (admin only)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateUserRoleRequest' }
      responses:
        '200':
          description: User updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }

  /admin/templates:
    get:
      tags: [Admin]
      summary: List all templates including private and unlisted (admin only)
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
        - name: q
          in: query
          description: 'Keyword search on name and description'
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/Template' } }
                  meta: { $ref: '#/components/schemas/PaginationMeta' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /admin/resources:
    get:
      tags: [Admin]
      summary: List all resources including private and unlisted (admin only)
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
        - name: q
          in: query
          description: 'Keyword search on name and description'
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/Resource' } }
                  meta: { $ref: '#/components/schemas/PaginationMeta' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
